.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
.eggs
.env
.env.*
*.log
.DS_Store
.idea
.vscode

dist
build

infra
analysis
.github
.jbeval
.scrapy
.venv
assets
backups
data
jobstate
scripts
output
.pre-commit-config.yaml
tests
docs
core/tools
